@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
    --text-secondary: #6B6B6B
}

@layer base{
    img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
        display: block;
    }
}

@layer utilities{
  
}