@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
    body{
        @apply text-sm
    }
    img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
        display: block;
    }
}
@layer utilities{
    .wrapper{
        @apply max-w-[1332px] w-full mx-auto px-4
    }
}